# Игнорируем бинарники и временные файлв
*.exe
*.dll
*.pdb
*.log
*.psd1

# Игнорируем системные файлы
Thumbs.db
DS_Store

# Игнорируем каталоги
bin/
obj/
Tests/

# Игнорируем конфиденциальные данные
sectrets.json

# Игнорируем VS Code
.vscode/

# Игнорируем резервные файлы
*.bak
